* {
    box-sizing: border-box;
}

body {
    background: url("background2.jpg") repeat center center fixed;
    background-color: gray;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: auto;
    margin-bottom: auto;
    background-size: cover;
    width: auto;
}

.navbar {
    font-family: 'Oswald', sans-serif;
    color: red;
    font-size: 60px;
    text-align: center;
}

.link1 {
    font-family: 'Oswald', sans-serif;
    color: red;
    font-size: 60px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    text-align: center;
    color: white;
}

.logo {
    display: block;
    width: 60%;
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
}

#logo4 {
    display: block;
    width: 40%;
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
}

#welcome {
    font-size: 200px;
    text-align: center;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    color: white;
}

.text {
    /* font-family: 'Cinzel', serif; */
    font-family: 'Oswald', sans-serif;
    color: yellow;
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
}

#sketch {
    display: block;
    width: 50%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid white;
}

#email {
    color: magenta;
    font-size: 30px;
    text-align: center;
}

.green {
    color: aquamarine;
}

.reference {
    color: aquamarine;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
}

.nav {
    font-family: 'Oswald', sans-serif;
    color: red;
    font-size: 30px;
    text-align: center;
}

.link2 {
    font-family: 'Oswald', sans-serif;
    color: red;
    font-size: 30px;
}

.link3 {
    font-family: 'Oswald', sans-serif;
    color: red;
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
}

#code {
    width: 100%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#easterlink {
    font-family: 'Oswald', sans-serif;
    color: yellow;
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
}

#easteregg {
    display: block;
    width: 50%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid white;
}

#eastersection {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: yellow;
    font-size: 22px;
}